<apex:page controller="tmd.MD_AdvanceSetupController" sidebar="false">
    <apex:stylesheet value="{!$Resource.tmd__MergeCSS}"/>  
    <apex:stylesheet value="{!$Resource.tmd__MergeDubCSS}"/> 
    <apex:stylesheet value="{!$Resource.tmd__Number}"/>
<script src="https://code.jquery.com/jquery-1.12.3.js"></script>
    <style>
        .text_field{width:240px; height:20px; border:1px solid #b7b3b3; background-color:#fff; margin-top:12px}
        .text_field02{width:150px; height:20px; border:1px solid #b7b3b3; background-color:#fff; margin-top:13px}
        .table1
        {
            width:100%;
            border-collapse:collapse; 
        }
        .table1 td,th
        {
            height:30px;           
            border-bottom:1px solid #D6D6D6;
            border-collapse:collapse;
            vertical-align:middle;
            font-size:1.2em
        }
        .seclect_object_main_con
        {
            display:none;
        }
        .top_text_container{ float:right; color: red;}    
         .error_main_con{ width:100%; height:auto; float:left; padding-bottom:5px}
        .error_con_left{ width:500px; height:auto; float:left;}
        .right_counter_con{width:200px; height:auto; float:right;padding:0 0;}
        
        .popup_loading{
            position: absolute;
            top: 42%;
            left: 42%;
            /*background: rgba(255, 255, 255, 0.65);
            padding: 30px 50px;
            border: 1px solid #aaa;
            border-radius: 6px;
            box-shadow: 2px 7px 18px 1px #aaa;*/
        }
        .popup_loading img{
            width: 125px;
        }
       .popup_wrapper{
            position: fixed; 
            top:0px; 
            bottom:0px; 
            right:0px; 
            left: 0px; 
            background: rgba(191, 190, 190, 0.28);
            z-index: 9999;
        }
        .helpOrb {
            background-image: url(/img/help/helpOrbs.gif) !important;
            width: 20px !important;
            height: 15px !important;
          }
        .tabletab{
            width: 100%;
          }
        .tabletab tr td{
            width: 20%;
            vertical-align: middle;
            font-size: 14px;

        }
        .tabletab tr td:nth-of-type(3),
        .tabletab tr td:nth-of-type(4){
            width: 10%;
        }
        .filter_record{
            font-size: 14px
        }
    </style>
    <script>
        function toggle_visibility(e) 
        {
            var x = document.getElementsByClassName("seclect_object_main_con");
            var i;
             for (i = 0; i < x.length; i++) 
             {
                x[i].style.display = 'none';
             }
            x[e].style.display = 'block';
        }
    </script>
    
    <apex:form id="form_id">
        <apex:actionFunction name="UpdatelicencekeyAF" action="{!Updatelicencekey}" reRender="form_id"/>
        <apex:actionFunction name="editlicencekeyAF" action="{!editlicencekey}" reRender="form_id"/>
         
        <div class="main_container">
        
            <div class="error_main_con">
                <div class="error_con_left">
                 <apex:outputPanel >
                     <apex:image url="{!URLFOR($Resource.tmd__MergeLogo,'Merge_Status.jpg')}" height="65" style="margin-top:-10px;" />
                 </apex:outputPanel>
                </div>
                <div class="right_counter_con">
                    <apex:outputPanel id="totalcount1" style="float:right;">
                         <div style="margin-bottom: 1px; font-size: 13px;">
                            Merge Counter
                        </div>
                        <apex:repeat value="{!totalmergedrecords}" var="num" >
                             <span ><apex:image url="{!URLFOR($Resource.tmd__Number,num)}" height="35"/></span>
                        </apex:repeat>
                     </apex:outputPanel>
                </div> 
                <div style="clear:both;"></div>
            </div>
            <div class="step01_main_con">
                    <apex:outputPanel rendered="{!pageMsg}">
                        <apex:pageMessages />
                        <script>
                            setTimeout(function(){ 
                                //window.location.reload( true );
                                 editlicencekeyAF();
                            }, 3000);
                         </script>
                    </apex:outputPanel>
                <div class="step1_heading">
                    <div class="arrow_con">
                        <a href="" onclick="toggle_visibility(0);">
                            <apex:image url="{!URLFOR($Resource.tmd__Number,'arrow_img.png')}"/>
                        </a>
                    </div>
                    <div class="heading_con">
                        <h1> Merge App Status </h1>
                    </div>
                </div><!--step1_heading -->
            
                <div class="seclect_object_main_con" style="display:block; width:100%">
                  <div class="top_text_container">
                     <apex:outputPanel rendered="{!(totalMergeRecordPermission - totalMerged )<= 500  && setupsetting.tmd__Status__c == 'Active'}">
                        <b>You have&nbsp;<apex:outputText value="{!totalMergeRecordPermission - totalMerged}"/>&nbsp;Merges remaining, Please Upgrade.</b>
                    </apex:outputPanel>
                  </div>
                    <div class="top_main_buttons_con">
                      <a href="#" onclick="UpdatelicencekeyJS();">
                            <apex:image url="{!URLFOR($Resource.tmd__Number,'Update.png')}"/>
                        </a> 
                        <!--  <a href="" onclick="editlicencekey();">
                            <apex:image url="{!URLFOR($Resource.Number,'edit_button.png')}"/>
                        </a> -->
                    </div><!--top_main_buttons_con --> 
                
                    <table border="0" class="tabletab">
                        <!-- ***************************** -->
                        <tr>
                            <td><p class="object_cls" style="white-space: nowrap;">Total Allowed Merges : </p></td>
                            <td>
                                <apex:outputText value="{!totalMergeRecordPermission}"/>
                            </td>
                            <td><p class="filter_record" style="white-space: nowrap;">Used Merges : </p></td>
                            <td>
                                <apex:outputText value="{!ROUND(totalMerged, 0)}" />
                            </td>
                            <td><p class="filter_record" style="white-space: nowrap;">Remaining Merges : </p></td>
                            <td>
                                <apex:outputText value="{!if((totalMergeRecordPermission - totalMerged)>0,totalMergeRecordPermission - totalMerged,0)}" />
                            </td>
                        </tr>
                        <tr>
                            <td><p class="object_cls">Account : 
                            <span class="helpButton" id="Sectoin-App_Usage-_help">
                                    <img src="/s.gif" class="helpOrb"/>
                                    <script type="text/javascript">
                                        sfdcPage.setHelp('Sectoin-App_Usage', 'No. of merges that have been done under the Account object.'); 
                                    </script>
                                </span>
                            </p></td>
                            <td>
                                <apex:outputText value="{!ROUND(setupsetting.tmd__Account__c,0)}" />
                            </td>
                            <td><p class="filter_record">Contact : 
                            <span class="helpButton" id="Sectoin-App_Usage1-_help">
                                    <img src="/s.gif" class="helpOrb"/>
                                    <script type="text/javascript">
                                        sfdcPage.setHelp('Sectoin-App_Usage1', 'No. of merges that have been done under the Contact object.'); 
                                    </script>
                                </span>
                            </p></td>
                            <td>
                                <apex:outputText value="{!ROUND(setupsetting.tmd__Contact__c,0)}" />
                            </td>
                            <td><p class="filter_record">Lead :
                            <span class="helpButton" id="Sectoin-App_Usage2-_help">
                                    <img src="/s.gif" class="helpOrb"/>
                                    <script type="text/javascript">
                                        sfdcPage.setHelp('Sectoin-App_Usage2', 'No. of merges that have been done under the Lead object.'); 
                                    </script>
                                </span>
                            </p></td>
                            <td>
                                <apex:outputText value="{!ROUND(setupsetting.tmd__Lead__c,0)}" />
                            </td>
                        </tr>
                        <!-- ***************************** -->
                        <!-- <tr>
                            <td Style="text-align: right;" width="206" class="object_cls">  <p>Licence Key : </p></td>
                            <td width="150" style="vertical-align:middle;" colspan="3">
                                <apex:inputText value="{!setupsetting.Licence_Key__c}" styleClass="text_field" rendered="{!mode=='Edit'}" />
                                <apex:outputText value="{!setupsetting.Licence_Key__c}" rendered="{!mode=='View'}"/>
                            </td>
                        </tr> -->
                        <tr>
                            <td><p class="object_cls">Credit Expire Date : </p></td>
                            <td>
                                <apex:outputText value="{0,date,MM'/'dd'/'yyyy}" >
                                    <apex:param value="{!setupsetting.tmd__Renewal_Date__c}"/>
                                </apex:outputText>
                            </td>
                            <td><p class="filter_record"> Status : </p></td>
                            <td>    
                                <apex:outputText value="{!setupsetting.tmd__Status__c}" />
                            </td>
                             <td><p class="filter_record"> Administrator Username : </p> </td>
                            <td>
                                <!-- <apex:inputText value="{!setupsetting.tmd__Administrator_Username__c}" 
                                                styleClass="text_field" rendered="{!mode=='Edit'}" /> -->
                                <apex:outputText value="{!setupsetting.tmd__Administrator_Username__c}"/>
                            </td>
                        </tr>
                    </table>
                </div><!-- seclect_object_main_con-->
            </div><!-- step01_main_con-->
            
            <!-- <div class="step01_main_con">
                <div class="step1_heading">
                    <div class="arrow_con02" style="margin-top: 3px;">

                        <a href="" onclick="toggle_visibility(1);">
                            <apex:image url="{!URLFOR($Resource.tmd__Number,'arrow_img.png')}" />
                        </a>
                    </div>
                    <div class="heading_con">
                        <h1>App Usage</h1>
                    </div>
                </div>step1_heading
                <div class="seclect_object_main_con">
                    <table width="1000" border="0">
                        
                    </table>
                </div>seclect_object_main_con
            </div>step01_main_con -->
        </div><!--main_container -->
        <div class="line_shadow_con">
        </div><!-- line_shadow_con-->
        <div style="display: none" class="popup_wrapper">
            <div class="popup_loading" style="">
                <img src="https://www.wordbee.com/Content/Wordbee/Images/loading1.gif" />
            </div>
        </div>
        <script>
            function UpdatelicencekeyJS(){
                $('.popup_wrapper').show();
                UpdatelicencekeyAF();
            }
        </script>
    </apex:form>
</apex:page>